@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

:root{
    --cor0:hsl(0, 0%, 100%);
    --cor1:hsl(300, 43%, 22%);
    --cor2:hsl(333, 80%, 67%);
    --cor3:hsl(303, 10%, 53%);
    --cor4:hsl(300, 24%, 96%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'League Spartan', sans-serif;
}
body,html{
    background: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, left bottom;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 30px;
    text-align: center;
}
.title{
    display: flex;
    flex-direction: column;

}
.first-article{
    display: flex;
    flex-direction: column;
   
}
.first-article  h1{
    width: 210px;
    font-size: 24pt;
    align-self: center;
    color: var(--cor1);
}
.primeiro-paragrafo{
    height: 60px;
    width: 295px;
    margin: 25px 0px;
}
.avaliacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    font-weight: 700;
    color: var(--cor1);
    background-color: var(--cor4);
}
.star-icon{
    margin-bottom: 5px;
}
.star{
    width: 18px;
    height: 18px;
}
.relatos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 180px;
    padding: 20px 25px;
    margin-top: 20px;
    border-radius: 10px;
    color: var(--cor0);
    line-height: 20px;
    background-color: var(--cor1);
}
.relatos-colton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 180px;
    padding: 20px 25px;
    margin-top: 50px;
    border-radius: 10px;
    color: var(--cor0);
    line-height: 20px;
    background-color: var(--cor1);
}
.relatos-colton >p{
    text-align: left;
}
.relatos > p{
    text-align: left;
}
.bold-white{
    font-weight: 700;
}
.verificado{
    color: var(--cor2);
}
img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.info-perfil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}